name: Test Project

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: node:20

    steps:
      - uses: actions/checkout@v3 #uses-> run an action already available in github actions actions/checkout checks out repo code so that workflow (vmm that github creates for each script it runs) can acess it v3->version of the action this will use vmm given by vmm unless told not to

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm run test

      - name: Build project # build inside dist folder inside container
        run: npm run build
